body{
    font-family: 'Lato', sans-serif;
}

#mainTitle{
    border-bottom: 4px solid;
    background-color: #78ae4e;

}

#Title{
    margin-top: 2%;
    margin-bottom: 2%;
    text-align: center;

}
.marginTop{
    margin-top:20px;
}
.centerText{
    text-align: center;
}
.checks{
    margin-top: 2% !important;
    margin-bottom: 2% !important;
    text-align: center !important;

}
#breadCrumb{

    margin-top: 5%;

}
.increaseMarginTop{
     margin-top: 5% !important;
     text-align:center !important;
 }
#loginForm{
    margin-bottom: 0;

    margin-top: 3%;
}

#loginButtons{
    margin-top: 3%;

}

.alignment{
    display: inline-block;
}

.errors{

    color:red;
    font-size: 20px;
}

#changeLogin{


    margin-top: 3%;

}

@media (min-width:795px){

    .title{font-size: 36px;}
    img{width: 105px;}
    .footer {

        width:100%;
        background-color:#F8F8F8;
        border-top:1px solid #E7E7E7;
        text-align:center;
        font-size: 30px;
        bottom: 0px;
        position: absolute;
    }
    .kLogo{
        margin-left: 10%;
        margin-top: 3%;
        position: absolute;

    }
}

@media (max-width:795px){
    .title{font-size: 26px;}
    .footer {

        width:100%;
        background-color:#F8F8F8;
        border-top:1px solid #E7E7E7;
        text-align:center;
        font-size: 30px;
        bottom: 0px;

    }
    .kLogo{

        margin-top: 8%;
        margin-bottom: 3%;
        float: left;


    }
    img{width: 69px;}


}

.button{
    margin-left: 6px;
    float: none;
    border: none;


}